<div ng-controller="orderOperateCtrl" id="order-opera-box">
    <div class="panel panel-primary panel-material-blue">
        <div class="panel-heading">
            <h3 class="panel-title">订单管理</h3>
        </div>
        <div class="panel-body">
            <form name="orderForm" class="form-horizontal">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group form-group-black">
                            <label for="order-filter-name" class="col-sm-4 control-label">订单名称</label>
                            <div class="col-sm-8">
                                <input placeholder="请输入要查询的订单名称" type="text" class="form-control" id="order-filter-name"
                                       ng-model="order_filter.order_name">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group form-group-black">
                            <label for="order-filter-crm" class="col-sm-4 control-label">CRM订单号</label>

                            <div class="col-sm-8">
                                <input placeholder="输入CRM订单号" type="text" class="form-control" id="order-filter-crm"
                                       ng-model="order_filter.crm_order_id">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group form-group-black">
                            <label for="order-filter-start-date" class="col-sm-4 control-label">订单开始日期</label>

                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input readonly="" placeholder="输入订单开始日期" data-date-picker type="text"
                                           class="form-control" id="order-filter-start-date" ng-model="order_filter.start_date"/>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group form-group-black">
                            <label for="order-filter-orderid" class="col-sm-4 control-label">订单编号</label>

                            <div class="col-sm-8">
                                <input placeholder="请输入编号" type="text" class="form-control" id="order-filter-orderid"
                                       ng-model="order_filter.id"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group form-group-black">
                            <label for="order-filter-execute-ae" class="col-sm-4 control-label">执行AE</label>

                            <div class="col-sm-8">
                                <input placeholder="输入名字" type="text" class="form-control" id="order-filter-execute-ae"
                                       ng-model="order_filter.execute_ae">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group form-group-black">
                            <label for="order-filter-end-date" class="col-sm-4 control-label">订单结束日期</label>

                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input readonly="" placeholder="输入订单结束日期" data-date-picker type="text"
                                           class="form-control" id="order-filter-end-date" ng-model="order_filter.end_date"/>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group form-group-black">
                            <label for="order-filter-number" class="col-sm-4 control-label">工单号</label>
                            <div class="col-sm-8">
                                <input placeholder="输入工单号" type="text" class="form-control" id="order-filter-number" ng-model="order_filter.number">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="form-group form-group-black">
                            <label class="col-sm-2 control-label">订单状态</label>

                            <div class="col-sm-10 order-status-list">
                                <span class="col-sm-3" ng-repeat="item in status">

                                     <md-checkbox ng-model="order_filter.order_status[$index]" ng-true-value="{{item.id}}" class="md-primary checkbox-material-blue">
                                         {{item.name}}
                                     </md-checkbox>

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group form-group-black">
                            <label class="col-sm-4 control-label">广告主</label>

                            <div class="col-sm-8">
                                <ader-group ignore-option="广告主一共有<span>{{aderCroups.length}}</span>个" isrender="1" multiple="multiple" data-placeholder="点击选择广告主" ng-model="order_filter.advertiser">

                                </ader-group>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group form-group-black">
                            <label class="col-sm-4"></label>
                            <div class="col-sm-8">
                                <filter-order class="btn btn-material-blue">查询</filter-order>
                                <new-order class="btn btn-material-blue">新建订单</new-order>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-sm-12 order-list-grid">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>订单id</th>
                            <th>订单名称</th>
                            <th>广告主</th>
                            <th>执行AE</th>
                            <th>工单号</th>
                            <th>开始日期</th>
                            <th>结束日期</th>
                            <th>订单状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="item in order_list">
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.order_name}}</td>
                            <td>{{item.advertiser}}</td>
                            <td>{{item.execute_ae}}</td>
                            <td>{{item.number}}</td>
                            <td>{{item.start_date}}</td>
                            <td>{{item.end_date}}</td>
                            <td>{{item.order_status}}</td>
                            <td>
                              <expand-ad class="btn btn-material-blue btn-sm" orderid="{{item.id}}">{{item.expandAdStatus ? "收起" : "展开"}}</expand-ad>&nbsp;
                              <new-order class="btn btn-material-blue btn-sm" orderid="{{item.id}}">编辑</new-order>&nbsp;
                              <del-order  orderid="{{item.id}}" class="btn btn-material-blue btn-sm">删除</del-order>
                            </td>
                        </tr>
                        <tr ng-show="item.expandAdStatus">
                            <td colspan="8">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>广告位</th>
                                        <th>个数</th>
                                        <th>开始时间</th>
                                        <th>结束时间</th>
                                        <th>期望总量</th>
                                        <th>累计当前量</th>
                                        <th>当前完成进度</th>
                                        <th>昨日完成进度</th>
                                        <th>时间进度</th>
                                        <th>操作</th>
                                    </tr>

                                    </thead>
                                        <tr ng-repeat="ad in item.ad_list">
                                            <td>{{ad.posi}}</td>
                                            <td>{{ad.adcount}}</td>
                                            <td>{{ad.start_time}}</td>
                                            <td>{{ad.end_time}}</td>
                                            <td>{{ad.total_hope_cpm}}</td>
                                            <td>{{ad.all_cpm}}</td>
                                            <td>{{ad.current_progress}}</td>
                                            <td>{{ad.yesterday_progress}}</td>
                                            <td>{{ad.total_progress}}</td>

                                            <td rowspan="4" ng-if="$first">
                                                <a target="_blank" href="{{ad.url}}" class="btn btn-material-blue btn-sm">添加/查看</a>
                                            </td>

                                            <td ng-if="$last">
                                                <a target="_blank" href="{{ad.url}}" class="btn btn-material-blue btn-sm">添加/查看</a>
                                            </td>
                                        </tr>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="center-block text-center" id="page-box">
                        <pagebar></pagebar>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/html" id="new-order-template">
        <form class="form-horizontal" name="newOrderForm" id="newOrderForm">
            <fieldset>
                <div class="row" ng-hide="orderAction.isCreate">
                    <div class="col-sm-6">
                        <div class="form-group form-group-black">
                            <label for="order-id" class="col-sm-4 control-label">订单id</label>
                            <div class="col-sm-8">
                                <input ng-disabled="orderAction.isCreate" readonly="" placeholder="系统自动生成" type="text" class="form-control" id="order-id" ng-model="order.id">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-black">
                            <label for="order-name" class="col-sm-4 control-label">订单名称<em class="required">*</em></label>

                            <div class="col-sm-8">
                                <input datatype="*" nullmsg="请输入必填项" placeholder="请输入订单名称" type="text" class="form-control" id="order-name"
                                       ng-model="order.order_name">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-black">
                            <label for="order-crm" class="col-sm-4 control-label">CRM订单</label>

                            <div class="col-sm-8">
                                <input placeholder="输入CRM订单号" type="text" class="form-control" id="order-crm"
                                       ng-model="order.crm_order_id">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-black">
                            <label for="order-doae" class="col-sm-4 control-label">执行AE<em class="required">*</em></label>
                            <div class="col-sm-8">
                                <input datatype="*" nullmsg="请输入必填项" placeholder="输入名字" type="text" class="form-control" id="order-doae" ng-model="order.execute_ae">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group form-group-black">
                            <label for="order-number" class="col-sm-4 control-label">工单号<em class="required">*</em></label>
                            <div class="col-sm-8">
                                <input datatype="*" nullmsg="请输入必填项" placeholder="输入工单号" type="text" class="form-control" id="order-number" ng-model="order.number">
                            </div>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-black">
                            <label class="col-sm-4 control-label">广告主<em class="required">*</em></label>

                            <div class="col-sm-8">
                                <ader-group id="order-ader" data-placeholder="点击选择广告主" ng-model="order.advertiser">
                                </ader-group>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </script>
</div>

